@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f9f9f9;
  font-family: sans-serif;
}
.sidebar {
  transition: all 0.5s ease;
}
.button {
  transition: all 0.4s ease;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
